kind: DeveloperUser
apiVersion: capabilities.3scale.net/v1beta1
metadata:
  name: '{{ threescale_account_user }}'
  namespace: '{{ threescale_project }}'
spec:
  developerAccountRef:
    name: '{{ threescale_account_org }}'
  email: myusername2@example.com
  passwordCredentialsRef:
    name: rhi-demo-user
  role: admin
  username: '{{ threescale_account_user }}'
