kind: DeveloperAccount
apiVersion: capabilities.3scale.net/v1beta1
metadata:
  name: '{{ threescale_account_org }}'
  namespace: '{{ threescale_project }}'
spec:
  orgName: '{{ threescale_account_org }}'
