apiVersion: v1
kind: Secret
metadata:
  name: asana-secret
  namespace: '{{ demo_project }}'
stringData:
  ASANA_PAT: '{{ asana_pat }}'
  ASANA_WORKSPACE_GID: '{{ asana_workspace_gid }}'
  ASANA_PROJECT_GID: '{{ asana_project_gid }}'
type: Opaque
